/* Do not do any changes to the custom CSS until it has been committed to the Github repo which can be found here: https://github.com/elifesciences/pubpub-css */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  color: #212121;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

.block-content {
  margin: 0 !important;
}

.col-12 {
  margin: 0 !important;
  width: 100% !important;
}

a:hover,
li:hover,
.nav-bar-component li:hover,
.nav-bar-component :hover .title {
  text-decoration: none !important;
}

.layout-component {
  margin-bottom: calc((72 / 16) * 1rem);
}

p a,
.layout-component .layout-text-component p a,
.layout-component .layout-text-component li a,
.layout-component .layout-html-component p a,
.layout-component .layout-html-component li a {
  color: #212121;
  border-bottom: 1px dotted #212121;
  padding-bottom: 2px;
  text-decoration: none;
}

p a:visited,
.layout-component .layout-text-component p a:visited,
.layout-component .layout-text-component li a:visited,
.layout-component .layout-html-component p a:visited,
.layout-component .layout-html-component li a:visited {
  border-bottom-color: #212121;
  color: #212121;
}

p a:hover,
.layout-component .layout-text-component p a:hover,
.layout-component .layout-text-component li a:hover,
.layout-component .layout-html-component p a:hover,
.layout-component .layout-html-component li a:hover {
  border-bottom-color: #087acc;
  color: #087acc;
}

p,
.layout-component .layout-text-component p,
.layout-component .layout-text-component li,
.layout-component .layout-html-component p,
.layout-component .layout-html-component li {
  font-size: 1rem;
  line-height: 1.5;
}

p,
.layout-component .layout-text-component p,
.layout-component .layout-html-component p {
  margin-bottom: 1.5rem;
}

ul,
ol,
.layout-component .layout-text-component ul,
.layout-component .layout-html-component ul,
.layout-component .layout-text-component ol,
.layout-component .layout-html-component ol {
  margin: 0 0 1.5rem;
  padding-left: 1.25rem;
}

li,
li > p,
.layout-component .layout-text-component li,
.layout-component .layout-text-component li > p,
.layout-component .layout-html-component li,
.layout-component .layout-html-component li > p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

.layout-component .layout-text-component h2,
.layout-component .layout-web-component h2,
.separated > :first-child:before {
  padding-top: calc((21 / 16) * 1rem);
  padding-bottom: calc((21 / 16) * 1rem);
  margin-bottom: 0;
}


h1,
.layout-component .block-content h1 {
  font-size: calc((36 / 16) * 1rem);
  font-weight: 600;
  margin-top: calc((24 / 16) * 1rem)
}

@media screen and (min-width: 45.625em) {
  h1,
  .layout-component .block-content h1 {
    font-size: calc((41 / 16) * 1rem);
  }
}

@media screen and (min-width: 56.25em) {
  h1,
  .layout-component .block-content h1 {
    font-size: calc((46 / 16) * 1rem);
  }
}

h2,
.layout-component .block-content h2 {
  font-size: calc((26 / 16) * 1rem);
}

h3,
.layout-component .block-content h3 {
  font-size: calc((22 / 16) * 1rem);
  margin-top: calc((48 / 16) * 1rem);
  margin-bottom: calc((18 / 16) * 1rem);
}

h4,
.layout-component .block-content h4 {
  font-size: calc((20 / 16) * 1rem);
}

h5,
.layout-component .block-content h5 {
  font-size: calc((18 / 16) * 1rem);
}

h6,
.layout-component .block-content h6 {
  font-size: 1rem;
}

.layout-component .block-content h6.h6-variant {
  color: #757575;
  margin-bottom: calc((36 / 16) * 1rem);
}

.layout-component .block-content h1.h1-variant {
  font-size: calc((26 / 16) * 1rem);
  margin-bottom: calc((24 / 16) * 1rem);
  margin-top: 0;
}

.hidden {
  display: none !important;
}

.button {
  display: inline-block;
  margin: calc((12 / 16) * 1rem) calc((24 / 16) * 1rem) calc((12 / 16) * 1rem) 0;
  padding: calc((11 / 16) * 1rem) calc((24 / 16) * 1rem) calc((13 / 16) * 1rem);
  background-color: #087acc;
  border-radius: 4px;
  color: #ffffff !important;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.button:hover {
  background-color: #0769b0;
}

.button-action {
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  padding: calc((11 / 16) * 1rem) calc((24 / 16) * 1rem) calc((13 / 16) * 1rem);
  background-color: #edeff4;
  border-radius: 4px;
  color: #212121 !important;
}

.button-action:hover {
  background-color: #d7d9de;
}

@media screen and (min-width: 480px) {
  .button {
    margin: calc((24 / 16) * 1rem) calc((24 / 16) * 1rem) 0 0;
  }

  .button-action {
    margin-top: calc((12 / 16) * 1rem);
  }
}

.divider {
  border-top: 1px solid #e0e0e0;
  margin-bottom: calc((48 / 16) * 1rem);
  margin-top: calc((48 / 16) * 1rem);
}

#main-content {
  margin: 0 24px;
}

.container {
  width: 100%;
  max-width: calc((1114 / 16) * 1rem);
}

@media only screen and (min-width: 480px) {
  #main-content {
    margin: 0 48px;
  }
}


.layout-component .layout-html-component ul.breadcrumb {
  margin: 0 0 48px;
  padding: 0;
}

.layout-component .layout-html-component li.breadcrumb-item {
  color: #757575;
  display: inline-block;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
}

.layout-component .layout-html-component li.breadcrumb-item a {
  border-bottom: 0 !important;
  color: #212121;
  text-decoration: none;
}

.layout-component .layout-html-component li.breadcrumb-item a:visited {
  color: #212121;
}

.layout-component .layout-html-component li.breadcrumb-item a:hover {
  color: #087acc;
}

.breadcrumb-item:after {
  content: " | ";
}

.breadcrumb-item:last-child:after {
  content: "";
}

header.header-component {
  display: none;
}

h1#about-elife {
  line-height: 48px;
  text-align: center;
  font-weight: 600;
}

h1#about-elife strong {
  font-weight: 700;
}

@media screen and (min-width: 56.25em) {
  h1#about-elife {
    line-height: 72px;
  }
}

/** subtitle styling. Needs id from h1 for it to work **/

h1#about-elife ~ p,
h1#innovation-and-technology ~ p,
h1#publishing-and-peer-review-at-elife ~ p,
h1#research-culture ~ p,
h1#our-mission ~ p,
h1#aims-and-scope ~ p,
h1#submit-your-research ~ p  {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1#about-elife ~ p {
  margin-bottom: calc((48 / 16) * 1rem);
}

/* Pub Body Header Hiding */

.pub-header-component {
  display: none;
}

.user-member .pub-header-component {
  display: block;
}

.user-member .pub-header-component .background-element {
  display: none;
}

.user-member .pub-header-component .pub-header-content-component > * {
  display: none;
}

.user-member
  .pub-header-component
  .pub-header-content-component
  .draft-release-buttons-component {
  display: block;
}

.pub-body-component .editor .figure > .iframe {
  height: 100%;
}

/* About Page */

/* This selector is extremely brittle. As long a no-one changes the order of the page header and the About menu, it
 will hopefully stand up, but no guarantees. */

#main-content
  > .layout-component:first-child
  > .layout-html-component:nth-child(2)
  .container {
  max-width: calc((1114 / 16) * 1rem);
}

ol.section-listing {
  display: flex;
  justify-content: center;
  column-gap: 36px;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-left: -25%;
  border-top: 1px #e0e0e0 solid;
  border-bottom: 1px #e0e0e0 solid;
  padding-top: calc((11 / 16) * 1rem);
  padding-bottom: calc((12 / 16) * 1rem);
  padding-left: calc((24 / 16) * 1rem);
  padding-right: calc((24 / 16) * 1rem);
}

ol.section-listing li {
  list-style-type: none;
  margin-left: calc((12 / 16) * 1rem);
  margin-right: calc((12 / 16) * 1rem);
}

.layout-component .layout-html-component ol.section-listing {
  margin-bottom: calc((48 / 16) * 1rem);
}

.layout-component .layout-html-component ol.section-listing li a {
  text-decoration: none;
  border-bottom-width: 0;
  padding-bottom: 0;
}

ol.section-listing li a:hover {
  color: #087acc;
}

ol.section-listing li.section-listing__list_item--current a {
  color: #087acc;
}

.two-column-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 0px;
}

.two-column-parent div {
  width: 45%;
}

.two-column-first {
  grid-area: 1 / 1 / 2 / 3;
}
.two-column-second {
  grid-area: 1 / 2 / 2 / 3;
}
.two-column-third {
  grid-area: 1 / 1 / 2 / 2;
}

/* About page card styles */

.about-grid {
  margin: calc((48 / 16) * 1rem) auto calc((24 / 16) * 1rem);
}

@media only screen and (min-width: 480px) {
  .about-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 72px;
    grid-row-gap: 48px;
  }
}

.about-grid .card {
  grid-column: span 6;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 24px;
  margin-bottom: calc(( 24 / 16) * 1rem);
  text-decoration: none;
}

@media only screen and (min-width: 480px) {
  .about-grid .card {
    margin-bottom: 0;
  }
}

.about-grid .card h3 a {
  text-decoration: none;
}

.about-grid .card h3 a:hover {
  color: #087acc;
}

.about-grid .card.right .card_text {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.about-grid .card.right .img_placeholder {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.img_placeholder {
  display: none;
}

@media only screen and (min-width: 480px) {
  .img_placeholder {
    display: block;
    width: 150px;
    height: 150px;
    justify-self: end;
  }

  .img_placeholder img {
    max-width: 150px;
  }
}

@media only screen and (min-width: 730px) {
  .img_placeholder {
    width: 200px;
    height: 200px
  }

  .img_placeholder img {
    max-width: 200px;
  }
}

.block-content .about-grid .card h3 {
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: calc((12 / 16) * 1rem);
}

@media only screen and (max-width: 1199px) {
  .about-grid {
    grid-template-columns: 1fr;
    max-width: 800px;
  }

/* Undo the flipped positioning for "right" classes below 1200px */

  .about-grid .card.right .card_text {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .about-grid .card.right .img_placeholder {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
  .nav-bar-component ul.nav-list > :nth-child(7) a .title,
  .nav-bar-component ul.nav-list > :nth-child(8) a .title {
    display: none;
  }
}

/* useful link grid */

.link-grid .card ul {
  padding-left: 0;
}

.link-grid .card li {
  list-style: none;
  margin-bottom: calc((48 / 16) * 1rem);
}

@media only screen and (min-width: 730px) {
  .link-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px;
    margin: 0 auto;
  }
}

.layout-component .layout-html-component .link-grid li a {
  border-bottom: none;
  color: #212121;
  padding-bottom: 0;
  text-decoration: none;
}

.layout-component .layout-html-component .link-grid li a:hover {
  border-bottom: 1px dotted #087acc;
  color: #087acc;
}

.elife-nav-menu {
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 40;
  left: -3000px;
  transform: translate3d(3000px, 0, 0);
  top: 0;
  overflow: auto;
  width: 20rem;
  max-width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #fff;
  padding-top: calc((54 / 16) * 1rem);
  margin-top: 0;
}

.elife-nav-logo a {
  height: auto;
  margin-bottom: 1.5rem;
}

.elife-nav-menu li {
  display: list-item;
  list-style-type: none;
  padding-bottom: 1.5rem;
}

.elife-nav-menu li a {
  margin-left: 0;
  font-size: 0.875rem;
  line-height: 1.71429;
  font-weight: bold;
}

.elife-nav-menu ul.elife-nav-items > :nth-child(2) {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1.5rem;
}

.elife-nav-overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.8);
}

.elife-nav-close-button {
  border: 0;
  width: 4.25rem;
  font-family: "Noto Sans", Arial, sans-serif;
  float: right;
  background: url("https://ui-patterns.elifesciences.org/assets/img/icons/close.svg")
    no-repeat 49px 3px;
  background-size: 14px;
  background-position: right;
}

.elife-nav-close-button:hover {
  cursor: pointer;
}

.built-on {
  display: none;
}

/* Mission Page 2 col layout for images */

.two-col .img-card {
  width:100%;
}

.two-col .img-card a {
  text-align: center;
  text-decoration: none;
  display: block;
}

.two-col .img-card a img {
  width: 100%;
}

.two-col .img-card a p.img-caption {
  margin: calc((12 / 16) * 1rem) 0 calc((24 / 16) * 1rem);
  border-bottom: 1px dotted #212121;
  display: inline-block;
}

.two-col .img-card a:hover p.img-caption {
  color: #087acc;
  border-bottom: 1px dotted #087acc;
}

@media only screen and (min-width: 730px) {
 .two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 48px;
  padding: calc((24 / 16) * 1rem) 0;
 }
}

.bp3-button.bp3-intent-primary.bp3-outlined {
  display: none;
}

.editor figure[data-align="right"],
.editor figure[data-align="left"] {
  margin: .5em 0em .5em 1.5em;
}

@media only screen and (max-width: 720px) {
  .editor figure[data-align="right"],
  .editor figure[data-align="left"] {
    margin: 0;
  }
}

.email-cta__container .email-cta__button {
  margin: calc((24 / 16) * 1rem) 0 0;
}
