@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  color: #212121;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

.block-content {
  margin: 0 !important;
}

.col-12 {
  margin: 0 !important;
  width: 100% !important;
}

a:hover,
li:hover,
.nav-bar-component li:hover,
.nav-bar-component :hover .title {
  text-decoration: none !important;
}

p a,
.layout-component .layout-text-component p a,
.layout-component .layout-text-component li a,
.layout-component .layout-html-component p a,
.layout-component .layout-html-component li a {
  color: #212121;
  border-bottom: 1px dotted #212121;
  padding-bottom: 2px;
  text-decoration: none;
}

p a:visited,
.layout-component .layout-text-component p a:visited,
.layout-component .layout-text-component li a:visited,
.layout-component .layout-html-component p a:visited,
.layout-component .layout-html-component li a:visited {
  border-bottom-color: #212121;
  color: #212121;
}

p a:hover,
.layout-component .layout-text-component p a:hover,
.layout-component .layout-text-component li a:hover,
.layout-component .layout-html-component p a:hover,
.layout-component .layout-html-component li a:hover {
  border-bottom-color: #087acc;
  color: #087acc;
}

p,
.layout-component .layout-text-component p,
.layout-component .layout-text-component li,
.layout-component .layout-html-component p,
.layout-component .layout-html-component li {
  font-size: 1rem;
  line-height: 1.5;
}

p,
.layout-component .layout-text-component p,
.layout-component .layout-html-component p {
  margin-bottom: 1.5rem;
}

ul,
ol,
.layout-component .layout-text-component ul,
.layout-component .layout-html-component ul,
.layout-component .layout-text-component ol,
.layout-component .layout-html-component ol {
  margin: 0 0 1.5rem;
  padding-left: 1.25rem;
}

li,
li > p,
.layout-component .layout-text-component li,
.layout-component .layout-text-component li > p,
.layout-component .layout-html-component li,
.layout-component .layout-html-component li > p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

.layout-component .layout-text-component h2,
.layout-component .layout-web-component h2,
.separated > :first-child:before {
  padding-top: calc((21 / 16) * 1rem);
  padding-bottom: calc((21 / 16) * 1rem);
  margin-bottom: 0;
}

h1,
.layout-component .block-content h1 {
  font-size: calc((36 / 16) * 1rem);
}

@media screen and (min-width: 45.625em) {
  h1,
  .layout-component .block-content h1 {
    font-size: calc((41 / 16) * 1rem);
  }
}

@media screen and (min-width: 56.25em) {
  h1,
  .layout-component .block-content h1 {
    font-size: calc((46 / 16) * 1rem);
  }
}

h2,
.layout-component .block-content h2 {
  font-size: calc((26 / 16) * 1rem);
}

h3,
.layout-component .block-content h3 {
  font-size: calc((22 / 16) * 1rem);
}

h4,
.layout-component .block-content h4 {
  font-size: calc((20 / 16) * 1rem);
}

h5,
.layout-component .block-content h5 {
  font-size: calc((18 / 16) * 1rem);
}

h6,
.layout-component .block-content h6 {
  font-size: 1rem;
}

.layout-component .block-content h1.h1-variant {
  font-size: calc((26 / 16) * 1rem);
  margin-bottom: 1.5rem;
}

.hidden {
  display: none !important;
}

.button {
  display: inline-block;
  margin-top: calc((24 / 16) * 1rem);
  margin-right: calc((24 / 16) * 1rem);
  margin-bottom: calc((24 / 16) * 1rem);
  padding: calc((11 / 16) * 1rem) calc((24 / 16) * 1rem) calc((13 / 16) * 1rem);
  background-color: #087acc;
  border-radius: 4px;
  color: #ffffff !important;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.button:hover {
  background-color: #0769b0;
}

.button-action {
  display: inline-block;
  margin-top: calc((24 / 16) * 1rem);
  padding: calc((11 / 16) * 1rem) calc((24 / 16) * 1rem) calc((13 / 16) * 1rem);
  background-color: #edeff4;
  border-radius: 4px;
  color: #212121 !important;
}

.button-action:hover {
  background-color: #d7d9de;
}

.divider {
  border-top: 1px solid #e0e0e0;
  margin-bottom: calc((48 / 16) * 1rem);
  margin-top: calc((48 / 16) * 1rem);
}

#main-content {
  margin: 0 24px;
}

.container {
  width: 100%;
  max-width: calc((1114 / 16) * 1rem);
}

@media only screen and (min-width: 480px) {
  #main-content {
    margin: 0 48px;
  }
}


.layout-component .layout-html-component ul.breadcrumb {
  margin: 0 0 48px;
  padding: 0;
}

.layout-component .layout-html-component li.breadcrumb-item {
  color: #757575;
  display: inline-block;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
}

.layout-component .layout-html-component li.breadcrumb-item a {
  border-bottom: 0 !important;
  color: #212121;
  text-decoration: none;
}

.layout-component .layout-html-component li.breadcrumb-item a:visited {
  color: #212121;
}

.layout-component .layout-html-component li.breadcrumb-item a:hover {
  color: #087acc;
}

.breadcrumb-item:after {
  content: " | ";
}

.breadcrumb-item:last-child:after {
  content: "";
}

header.header-component {
  display: none;
}

.nav-bar-component,
.footer-component {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  text-transform: none;
  height: 100%;
}

.nav-bar-component {
  margin-top: calc((54 / 16) * 1rem);
  margin-bottom: calc((42 / 16) * 1rem);
  padding-left: calc((24 / 16) * 1rem);
  padding-right: calc((24 / 16) * 1rem);
}

@media only screen and (min-width: 480px) {
  .nav-bar-component {
    padding-left: calc((48 / 16) * 1rem);
    padding-right: calc((48 / 16) * 1rem);
  }

}

.nav-bar-component.accent-color {
  border-bottom: 0 !important;
}
.nav-bar-component .scrollable-nav {
  overflow: unset;
}
.nav-bar-component .scrollable-nav .overflow-gradient {
  background: none;
  border-bottom: 0;
  top: 40px;
  left: 165px;
  width: 98%;
  height: auto;
}
.nav-bar-component .container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.nav-bar-component .container .col-12 {
  width: 100%;
  margin-right: 0;
}
.nav-bar-component a {
  height: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0.75rem;
}
.nav-bar-component li a {
  text-transform: none;
  margin: 0;
  margin-left: calc((18 / 16) * 1rem);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 24px;
}
.nav-bar-component li a:hover {
  color: #087acc;
}
.nav-bar-component li a .bp3-icon-share {
  display: none;
}
.nav-bar-component ul.nav-list {
  height: 30px;
  align-items: center;
}
.nav-bar-component ul.nav-list > :first-child {
  padding-top: 0;
  border-right: 1px #e0e0e0 solid;
}

.nav-bar-component ul.nav-list > :nth-child(2) {
  margin-left: auto;
}

@media screen and (min-width: 56.25em) {
  .nav-bar-component ul.nav-list > :nth-child(2) {
    margin-left: unset;
  }
}

.nav-bar-component ul.nav-list > :nth-child(2) a {
  display: flex;
}
.nav-bar-component ul.nav-list > :nth-child(2) a:after {
  background-image: url("https://ui-patterns.elifesciences.org/assets/img/patterns/molecules/nav-primary-menu-ic.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 24px;
  display: inline-block;
  width: calc((70 / 16) * 1rem);
  height: calc((24 / 16) * 1rem);
  content: "Menu";
}

@media screen and (min-width: 56.25em) {
  .nav-bar-component ul.nav-list > :nth-child(2) a:after {
    content: "";
  }
}

.nav-bar-component ul.nav-list > :nth-child(2) li {
  display: none;
}
.nav-bar-component ul.nav-list > :nth-child(7),
.nav-bar-component ul.nav-list > :nth-child(8),
.nav-bar-component ul.nav-list > :nth-child(9) {
  align-items: center;
}
.nav-bar-component ul.nav-list > :nth-child(7) {
  margin-left: auto;
}

.nav-bar-component ul.nav-list > :nth-child(7) a,
.nav-bar-component ul.nav-list > :nth-child(8) a {
  display: flex;
}

.nav-bar-component ul.nav-list > :nth-child(7) a:after {
  background-image: url("https://ui-patterns.elifesciences.org/assets/img/patterns/molecules/nav-secondary-search-black-ic.svg");
  background-size: 24px 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
  margin-left: calc((4 / 16) * 1rem);
}
.nav-bar-component ul.nav-list > :nth-child(8) a:after {
  background-image: url("https://elifesciences.org/assets/patterns/img/patterns/molecules/nav-secondary-alert-black-ic.e9bb80fe.svg");
  background-size: 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
  margin-left: calc((4 / 16) * 1rem);
}

.nav-bar-component ul.nav-list > :last-child a:hover {
  color: white;
  background-color: #0769b0;
}

.nav-bar-component ul.nav-list > :last-child a {
  display: flex;
  text-transform: uppercase;
  margin-right: calc((66 / 16) * 1rem);
  padding: 0 calc((8 / 16) * 1rem);
  margin-left: calc((21 / 16) * 1rem);
  border-radius: 3px;
  color: #fff;
  background-color: #087acc;
  border: 1px solid #087acc;
  height: calc((22 / 16) * 1rem);
  font-size: calc((11 / 16) * 1rem);
  font-weight: 400;
}

.nav-bar-component ul.nav-list > :first-child .title,
.nav-bar-component ul.nav-list > :first-child > li,
.elife-nav-menu > :first-child .title {
  display: none;
}
.nav-bar-component ul.nav-list > :first-child a {
  display: flex;
  margin-left: 0;
}
.nav-bar-component ul.nav-list > :first-child a:before,
.elife-nav-menu > :first-child:before {
  background-image: url("https://assets.pubpub.org/pm5kgkt7/41674145834317.svg");
  background-size: 88px 35px;
  display: inline-block;
  width: 88px;
  height: 35px;
  content: "";
}

@media only screen and (min-width: 1200px) {
  .nav-bar-component .scrollable-nav .overflow-gradient {
    display: block;
  }
}

h1#elife-evolution-of-publishing {
  line-height: 48px;
  text-align: center;
  font-weight: 600;
}

h1#elife-evolution-of-publishing strong {
  font-weight: 700;
}

@media screen and (min-width: 56.25em) {
  h1#elife-evolution-of-publishing {
    line-height: 72px;
  }
}

h1#elife-evolution-of-publishing ~ p {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: calc((24 / 16) * 1rem);
  text-align: center;
}

/** Pub Body Header Hiding **/
.pub-header-component {
  display: none;
}

.user-member .pub-header-component {
  display: block;
}

.user-member .pub-header-component .background-element {
  display: none;
}

.user-member .pub-header-component .pub-header-content-component > * {
  display: none;
}

.user-member
  .pub-header-component
  .pub-header-content-component
  .draft-release-buttons-component {
  display: block;
}

.pub-body-component .editor .figure > .iframe {
  height: 100%;
}

/** FOOTER **/
.footer-component {
  border-top: 1px #e0e0e0 solid;
}

.footer-component .container {
  width: 100%;
  max-width: unset;
  margin: 0;
}

.footer-component .container .row .col-12 {
  margin: 0 !important;
  width: 100%;
}

.footer-component .right {
  text-align: center;
  max-width: unset;
}

.footer-component a.link[href="https://elifesciences.org/privacy"]
{
  color: #757575;
}

.footer-component a.link[href="https://elifesciences.org/privacy"]:hover
{
  text-decoration: underline !important;
  color: #087acc;
}

.separated {
  display: grid;
  grid-template:
    "subscribe subscribe subscribe subscribe"
    "privacy privacy privacy privacy"
    ". . . ."
    ". . mission mission"
    ". . mission mission"
    ". . mission mission"
    ". . corp corp"
    ". . corp corp"
    ". . corp corp"
    "social social address address"
    "github github github github"
    "certifications certifications copyright copyright"
    /
    25% 25% 25% 25%;
}

.separated > :first-child {
  margin: calc((30 / 16) * 1rem) 0;
  grid-area: subscribe;
}

.separated > :first-child a {
  display: inline-block;
}

.footer-component .right .footer-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  display: block;
}

.separated > :nth-child(2) {
  color: #757575;
  font-size: 0.75rem;
  grid-area: privacy;
  border-bottom: 1px #e0e0e0 solid;
  padding-bottom: calc((30 / 16) * 1rem);
}

.footer-component ul.separated li:not(:last-child):after {
  content: "";
}

.separated > :first-child a {
  text-transform: uppercase;
  padding: calc((15 / 16) * 1rem) calc((36 / 16) * 1rem) calc((14 / 16) * 1rem);
  border-radius: 3px;
  color: #fff;
  background-color: #087acc;
  border: 1px solid #087acc;
  line-height: 1;
}

.separated > :first-child a:hover {
  color: #fff;
  background-color: #0769b0;
}

.separated > :nth-child(3),
.separated > :nth-child(4),
.separated > :nth-child(5),
.separated > :nth-child(6) {
  height: 120px;
  padding: calc((24 / 16) * 1rem);
  border-bottom: 1px #e0e0e0 solid;
  margin-bottom: calc((30 / 16) * 1rem);
}
.separated > :nth-child(3) a,
.separated > :nth-child(4) a,
.separated > :nth-child(5) a,
.separated > :nth-child(6) a,
.separated > :nth-child(28) a {
  display: block;
  color: transparent;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.separated > :nth-child(3) a:hover,
.separated > :nth-child(4) a:hover,
.separated > :nth-child(5) a:hover,
.separated > :nth-child(6) a:hover,
.separated > :nth-child(28) a:hover {
  color: transparent;
}

.separated > :nth-child(3),
.separated > :nth-child(4),
.separated > :nth-child(5) {
  border-right: 1px #e0e0e0 solid;
}

.separated > :nth-child(3) a {
  background-image: url("https://elifesciences.org/assets/images/investors/hhmi.9d0951a2.svg");
  background-size: 185px auto;
}

.separated > :nth-child(4) a {
  background-image: url("https://elifesciences.org/assets/images/investors/wellcome.813f8634.svg");
  background-size: 72px auto;
}

.separated > :nth-child(5) a {
  background-image: url("https://elifesciences.org/assets/images/investors/max.89cebd37.svg");
  background-size: 185px auto;
}

.separated > :nth-child(6) a {
  background-image: url("https://elifesciences.org/assets/images/investors/kaw.c1bb2e4b.svg");
  background-size: 125px auto;
}

.separated > :nth-child(7),
.separated > :nth-child(8),
.separated > :nth-child(9),
.separated > :nth-child(10),
.separated > :nth-child(11),
.separated > :nth-child(12),
.separated > :nth-child(13),
.separated > :nth-child(14),
.separated > :nth-child(15),
.separated > :nth-child(16),
.separated > :nth-child(17),
.separated > :nth-child(18) {
  text-transform: uppercase;
  font-size: 0.6875rem;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}

.separated > :nth-child(7) a,
.separated > :nth-child(9) a,
.separated > :nth-child(11) a,
.separated > :nth-child(13) a,
.separated > :nth-child(15) a,
.separated > :nth-child(17) a {
  position: absolute;
  left: 165px;
}

.separated > :nth-child(8) a,
.separated > :nth-child(10) a,
.separated > :nth-child(12) a,
.separated > :nth-child(14) a,
.separated > :nth-child(16) a,
.separated > :nth-child(18) a {
  position: absolute;
  left: 86px;
}

.separated > :nth-child(19),
.separated > :nth-child(20),
.separated > :nth-child(27),
.separated > :nth-child(29) {
  text-align: left;
  padding-right: calc((180 / 16) * 1rem);
}

.separated > :nth-child(19) {
  grid-area: mission;
}

.separated > :nth-child(20) {
  grid-area: corp;
}

.separated > :nth-child(19) a,
.separated > :nth-child(20) a,
.separated > :nth-child(27) a,
.separated > :nth-child(29) a {
  display: none;
}

.separated > :nth-child(19):after,
.separated > :nth-child(20):after,
.separated > :nth-child(27):after,
.separated > :nth-child(29):after {
  font-family: "Noto Serif";
  font-size: 0.6875rem;
  line-height: 24px;
  font-weight: 300;
  padding: 0 !important;
}

.separated > :nth-child(19):after {
  content: "eLife is a non-profit organisation inspired by research funders and led by scientists. Our mission is to help scientists accelerate discovery by operating a platform for research communication that encourages and recognises the most responsible behaviours in science." !important;
}

.separated > :nth-child(20):after {
  content: "eLife Sciences Publications, Ltd is a limited liability non-profit non-stock corporation incorporated in the State of Delaware, USA, with company number 5030732, and is registered in the UK with company number FC030576 and branch number BR015634 at the address:" !important;
}

.separated > :nth-child(27):after {
  content: "eLife Sciences Publications, Ltd \A Westbrook Centre, Milton Road \A Cambridge CB4 1YG \A UK" !important;
  white-space: pre-wrap;
}

.separated > :nth-child(29):after {
  content: "© 2022 eLife Sciences Publications Ltd. Subject to a Creative Commons Attribution license, except where otherwise noted. ISSN: 2050-084X" !important;
}

.separated > :nth-child(21),
.separated > :nth-child(22),
.separated > :nth-child(23),
.separated > :nth-child(24),
.separated > :nth-child(25) {
  margin-top: calc((50 / 16) * 1rem);
  grid-area: social;
}

.separated > :nth-child(21) a,
.separated > :nth-child(22) a,
.separated > :nth-child(23) a,
.separated > :nth-child(24) a,
.separated > :nth-child(25) a {
  height: 1.75rem;
  width: 1.75rem;
  position: absolute;
  z-index: 20;
  color: transparent;
}

.separated > :nth-child(21) a:hover,
.separated > :nth-child(22) a:hover,
.separated > :nth-child(23) a:hover,
.separated > :nth-child(24) a:hover,
.separated > :nth-child(25) a:hover {
  color: transparent;
}

.separated > :nth-child(21) a {
  left: 164px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cpath d='M24.8,7.6781 C24.0053,8.0309 23.1512,8.2685 22.2548,8.3756 C23.1701,7.8275 23.873,6.959 24.2033,5.924 C23.3474,6.4316 22.3988,6.8006 21.389,6.9995 C20.5817,6.1382 19.4288,5.6 18.1544,5.6 C15.2933,5.6 13.1909,8.2694 13.8371,11.0405 C10.1552,10.856 6.89,9.092 4.7039,6.4109 C3.5429,8.4026 4.1018,11.0081 6.0746,12.3275 C5.3492,12.3041 4.6652,12.1052 4.0685,11.7731 C4.0199,13.826 5.4914,15.7466 7.6226,16.1741 C6.9989,16.3433 6.3158,16.3829 5.621,16.2497 C6.1844,18.0101 7.8206,19.2908 9.761,19.3268 C7.898,20.7875 5.5508,21.44 3.2,21.1628 C5.1611,22.4201 7.4912,23.1536 9.9932,23.1536 C18.221,23.1536 22.8695,16.2047 22.5887,9.9722 C23.4545,9.3467 24.206,8.5664 24.8,7.6781 Z' id='Path' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.separated > :nth-child(22) a {
  left: 216px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cpath d='M26,14 C26,7.37257812 20.6274219,2 14,2 C7.37257813,2 2,7.37257812 2,14 C2,19.9895469 6.38822656,24.9539844 12.125,25.8542187 L12.125,17.46875 L9.078125,17.46875 L9.078125,14 L12.125,14 L12.125,11.35625 C12.125,8.34875 13.9165156,6.6875 16.6575781,6.6875 C17.9704766,6.6875 19.34375,6.921875 19.34375,6.921875 L19.34375,9.875 L17.8305781,9.875 C16.3398828,9.875 15.875,10.8000078 15.875,11.7489922 L15.875,14 L19.203125,14 L18.6710938,17.46875 L15.875,17.46875 L15.875,25.8542187 C21.6117734,24.9539844 26,19.9895469 26,14' id='Fill-1' fill='%230A0B09'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.separated > :nth-child(23) a {
  left: 268px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cpath d='M13.9999762,4.16220594 C17.2041298,4.16220594 17.5836306,4.17440025 18.8489821,4.23213276 C20.0189703,4.28553056 20.6543612,4.48102079 21.0772565,4.64531072 C21.6373379,4.86299845 22.0371308,5.12308049 22.4570251,5.54297487 C22.8769195,5.96286924 23.1370016,6.36266203 23.3546416,6.92274348 C23.5189792,7.3456388 23.7144694,7.98102972 23.7678672,9.15097025 C23.8255997,10.4163695 23.8377941,10.7958701 23.8377941,14.0000238 C23.8377941,17.2041775 23.8255997,17.5836782 23.7678672,18.8490297 C23.7144694,20.0190179 23.5189792,20.6544088 23.3546416,21.0773041 C23.1370016,21.6373856 22.8769195,22.0371784 22.4570251,22.4570727 C22.0371308,22.8769671 21.6373379,23.1370492 21.0772565,23.3546892 C20.6543612,23.5190268 20.0189703,23.7145171 18.8489821,23.7679149 C17.5838211,23.8256473 17.2043204,23.8378417 13.9999762,23.8378417 C10.795632,23.8378417 10.4161313,23.8256473 9.15097025,23.7679149 C7.9809821,23.7145171 7.34559117,23.5190268 6.92274348,23.3546892 C6.3626144,23.1370492 5.9628216,22.8769671 5.54292723,22.4570727 C5.12303286,22.0371784 4.86295081,21.6373856 4.64531072,21.0773041 C4.48097317,20.6544088 4.28548292,20.0190179 4.23208512,18.8490774 C4.17435262,17.5836782 4.1621583,17.2041775 4.1621583,14.0000238 C4.1621583,10.7958701 4.17435262,10.4163695 4.23208512,9.15101788 C4.28548292,7.98102972 4.48097317,7.3456388 4.64531072,6.92274348 C4.86295081,6.36266203 5.12303286,5.96286924 5.54292723,5.54297487 C5.9628216,5.12308049 6.3626144,4.86299845 6.92274348,4.64531072 C7.34559117,4.48102079 7.9809821,4.28553056 9.15092262,4.23213276 C10.4163218,4.17440025 10.7958225,4.16220594 13.9999762,4.16220594 M13.9999762,2 C10.740948,2 10.3323429,2.01381388 9.05241535,2.07221326 C7.77510763,2.13051737 6.90283244,2.33334326 6.13949638,2.63000828 C5.35039031,2.93667645 4.68117918,3.34699637 4.01406396,4.01411159 C3.34694874,4.68122682 2.93662882,5.35043793 2.62996064,6.13954402 C2.33329562,6.90288008 2.13046973,7.77515526 2.07216562,9.05246298 C2.01376625,10.3323429 2,10.7409957 2,14.0000238 C2,17.259052 2.01376625,17.6677047 2.07216562,18.9475846 C2.13046973,20.2248924 2.33329562,21.0971676 2.62996064,21.8605036 C2.93662882,22.649562 3.34694874,23.3188208 4.01406396,23.985936 C4.68117918,24.6530513 5.35039031,25.0633712 6.13949638,25.3700394 C6.90283244,25.6667044 7.77510763,25.8695303 9.05241535,25.9278343 C10.3323429,25.9862338 10.740948,26 13.9999762,26 C17.2590043,26 17.667657,25.9862338 18.947537,25.9278343 C20.2248448,25.8695303 21.09712,25.6667044 21.860456,25.3700394 C22.649562,25.0633712 23.3187732,24.6530513 23.9858884,23.985936 C24.6530037,23.3188208 25.0633236,22.6496097 25.3699918,21.8605036 C25.6666568,21.0971676 25.8694827,20.2248924 25.9277867,18.9475846 C25.9861861,17.6677047 26,17.259052 26,14.0000238 C26,10.7409957 25.9861861,10.3323429 25.9277867,9.05246298 C25.8694827,7.77515526 25.6666568,6.90288008 25.3699918,6.13954402 C25.0633236,5.35043793 24.6530037,4.68122682 23.9858884,4.01411159 C23.3187732,3.34699637 22.649562,2.93667645 21.860456,2.63000828 C21.09712,2.33334326 20.2248448,2.13051737 18.947537,2.07221326 C17.667657,2.01381388 17.2590043,2 13.9999762,2 Z M13.9999762,7.8378417 C10.5967121,7.8378417 7.83779407,10.5967597 7.83779407,14.0000238 C7.83779407,17.4032879 10.5967121,20.162206 13.9999762,20.162206 C17.4032403,20.162206 20.1621583,17.4032879 20.1621583,14.0000238 C20.1621583,10.5967597 17.4032403,7.8378417 13.9999762,7.8378417 Z M13.9999762,18.0000477 C11.7908507,18.0000477 9.99995236,16.2091493 9.99995236,14.0000238 C9.99995236,11.7908983 11.7908507,10 13.9999762,10 C16.2091017,10 18,11.7908983 18,14.0000238 C18,16.2091493 16.2091017,18.0000477 13.9999762,18.0000477 Z M21.8455942,7.59438394 C21.8455942,8.38968246 21.2009145,9.03440967 20.405616,9.03440967 C19.6103175,9.03440967 18.9655903,8.38968246 18.9655903,7.59438394 C18.9655903,6.79908542 19.6103175,6.15440585 20.405616,6.15440585 C21.2009145,6.15440585 21.8455942,6.79908542 21.8455942,7.59438394 Z' id='Shape' fill='%23212121' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.separated > :nth-child(24) a {
  left: 320px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cpath d='M14.3394034,5.00081974 C15.0650046,5.00416663 16.8547629,5.01866982 18.7408249,5.08151696 L19.3085648,5.10185861 L19.3085648,5.10185861 L19.8762758,5.12532402 C21.6678517,5.20481265 23.3716441,5.33464406 24.1578396,5.54670204 C25.2765782,5.84762249 26.157476,6.73428158 26.456476,7.86025886 C26.9532448,9.72604587 26.995825,13.4452634 26.9994747,14.0691357 L26.9994747,14.2486746 C26.995825,14.8725277 26.9532448,18.5916449 26.456476,20.457702 C26.157476,21.5835316 25.2765782,22.4701907 24.1578396,22.7712589 C23.3302654,22.9944175 21.4859633,23.126491 19.5927869,23.2046569 L19.0243355,23.2265266 C16.9417355,23.3010584 14.9171078,23.3148606 14.2386654,23.3174166 L13.7609683,23.3174166 C12.4040836,23.3123047 5.66245741,23.2622078 3.84179414,22.7712589 C2.72320323,22.4701907 1.84215778,21.5835316 1.54315778,20.457702 C1.06191297,18.6499592 1.00691357,15.1031629 1.00062792,14.316078 L1.00062792,14.0017303 C1.00691357,13.2146223 1.06191297,9.66774002 1.54315778,7.86025886 C1.84215778,6.73428158 2.72320323,5.84762249 3.84179414,5.54670204 C5.6210787,5.06678135 12.1001879,5.00801555 13.6602303,5.00081974 Z M11.1612194,10.2011473 L11.1612194,17.7986829 L17.8387126,14.0000603 L11.1612194,10.2011473 Z' id='Combined-Shape' fill='%23222321'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.separated > :nth-child(25) a {
  left: 372px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cpath d='M22.3830154,22.3830154 L18.8384,22.3830154 L18.8384,16.832 C18.8384,15.5083077 18.8147692,13.8043077 16.9948308,13.8043077 C15.1486769,13.8043077 14.8662154,15.2465231 14.8662154,16.7356308 L14.8662154,22.3826462 L11.3216,22.3826462 L11.3216,10.9675077 L14.7244308,10.9675077 L14.7244308,12.5275077 L14.7720615,12.5275077 C15.465918,11.3411519 16.7560586,10.632589 18.1294769,10.6835692 C21.7220923,10.6835692 22.3844923,13.0466462 22.3844923,16.1208615 L22.3830154,22.3830154 Z M7.32209231,9.4071385 C6.1860511,9.40734236 5.26494244,8.48656431 5.26473849,7.3505231 C5.26453461,6.21448189 6.18531266,5.29337322 7.32135387,5.29316926 C8.45739508,5.29296537 9.37850375,6.21374341 9.37870773,7.34978462 C9.37880563,7.89533086 9.16218215,8.41857185 8.77649194,8.80440054 C8.39080174,9.19022923 7.86763855,9.40704054 7.32209231,9.4071385 M9.0944,22.3830154 L5.54609231,22.3830154 L5.54609231,10.9675077 L9.0944,10.9675077 L9.0944,22.3830154 Z M24.1501538,2.00147692 L3.76492308,2.00147692 C2.80147497,1.99060441 2.01138912,2.76234691 1.99963077,3.72578462 L1.99963077,24.1955692 C2.01098655,25.1594712 2.80100881,25.9319778 3.76492308,25.9218636 L24.1501538,25.9218636 C25.115975,25.9338359 25.9090911,25.1613738 25.9224615,24.1955692 L25.9224615,3.72430769 C25.9086895,2.75896671 25.1155091,1.98726833 24.1501538,1.9998447' id='Path_2520' fill='%23212121' fill-rule='nonzero'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.separated > :nth-child(26) {
  text-align: left;
  margin-left: calc((164 / 16) * 1rem);
  height: 1.75rem;
  grid-area: github;
}

.separated > :nth-child(26) a {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='github-logo-svg' fill='%23000000'%3E%3Cpath d='M9.99907916,1.72084569e-15 C4.47773105,1.72084569e-15 2.22044605e-16,4.5904205 2.22044605e-16,10.2533868 C2.22044605e-16,14.7833822 2.86503576,18.6260419 6.83876117,19.9818304 C7.33908346,20.0762447 7.5214095,19.7596422 7.5214095,19.4877292 C7.5214095,19.2441405 7.512815,18.5996059 7.50790386,17.7442129 C4.72635747,18.3635703 4.13947635,16.3695415 4.13947635,16.3695415 C3.68458209,15.1849574 3.02894503,14.8696139 3.02894503,14.8696139 C2.12099819,14.2338913 3.09770097,14.2464799 3.09770097,14.2464799 C4.10141502,14.3188641 4.62936247,15.30329 4.62936247,15.30329 C5.52134811,16.869937 6.97013414,16.417378 7.53982627,16.1549064 C7.63068234,15.4927479 7.88913104,15.0408184 8.17459099,14.784641 C5.95414224,14.525946 3.6195095,13.6460053 3.6195095,9.7171139 C3.6195095,8.59799041 4.00933116,7.68217225 4.64900703,6.96588286 C4.54587311,6.7065584 4.20270727,5.66359573 4.74722981,4.25241751 C4.74722981,4.25241751 5.5864207,3.97672792 7.4968538,5.30356275 C8.29430001,5.07570971 9.15006599,4.96241262 10.0003069,4.95800662 C10.849934,4.96241262 11.7050861,5.07570971 12.5037601,5.30356275 C14.4129654,3.97672792 15.2509285,4.25241751 15.2509285,4.25241751 C15.7966788,5.66359573 15.453513,6.7065584 15.350993,6.96588286 C15.9918966,7.68217225 16.3786488,8.59799041 16.3786488,9.7171139 C16.3786488,13.6560761 14.0403327,14.5227989 11.8131312,14.7764585 C12.1716443,15.0930609 12.4914822,15.7187126 12.4914822,16.6748142 C12.4914822,18.045709 12.4792044,19.1516145 12.4792044,19.4877292 C12.4792044,19.7621599 12.6596888,20.0812801 13.1667639,19.981201 C17.1374198,18.6222653 20,14.7821233 20,10.2533868 C20,4.5904205 15.5222689,1.72084569e-15 9.99907916,1.72084569e-15' id='Fill-51'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 2rem;
}

.separated > :nth-child(27) {
  grid-area: address;
}

.separated > :nth-child(28) {
  grid-area: certifications;
  padding-top: calc((60 / 16) * 1rem);
}

.separated > :nth-child(28) a {
  background-image: url("https://elifesciences.org/assets/patterns/img/patterns/molecules/carbon-neutral.706efe6d.svg");
  background-size: 247px auto;
  background-position: 164px center;
  text-align: left;
  height: 50px;
}

.separated > :nth-child(29) {
  grid-area: copyright;
}

.separated > :nth-child(30),
.separated > :nth-child(31) {
  display: none;
}

/* Footer Mobile */
@media only screen and (max-width: 729px) {
  .separated {
    grid-template:
      "subscribe subscribe subscribe subscribe"
      "privacy privacy privacy privacy"
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      "social social social social"
      "github github github github"
      "certifications certifications certifications certifications"
      "mission mission mission mission"
      "corp corp corp corp"
      "address address address address"
      "copyright copyright copyright copyright" / 25% 25% 25% 28%;
  }
  .separated > :nth-child(7),
  .separated > :nth-child(8),
  .separated > :nth-child(9),
  .separated > :nth-child(10),
  .separated > :nth-child(11),
  .separated > :nth-child(12),
  .separated > :nth-child(13),
  .separated > :nth-child(14),
  .separated > :nth-child(15),
  .separated > :nth-child(16),
  .separated > :nth-child(17),
  .separated > :nth-child(18) {
    grid-column: 1 / span 4;
    justify-self: center;
  }

  .separated > :nth-child(7) a,
  .separated > :nth-child(8) a,
  .separated > :nth-child(9) a,
  .separated > :nth-child(10) a,
  .separated > :nth-child(11) a,
  .separated > :nth-child(12) a,
  .separated > :nth-child(13) a,
  .separated > :nth-child(14) a,
  .separated > :nth-child(15) a,
  .separated > :nth-child(16) a,
  .separated > :nth-child(17) a,
  .separated > :nth-child(18) a {
    position: relative;
    left: auto;
  }

  .separated > :nth-child(19),
  .separated > :nth-child(20),
  .separated > :nth-child(27),
  .separated > :nth-child(29) {
    text-align: center;
    padding-right: 0;
  }

  .separated > :nth-child(26) {
    text-align: center;
    margin-left: 0;
    margin-top: 2rem;
  }

  .separated > :nth-child(28) a {
    background-position: center center;
  }

  .separated > :nth-child(21),
  .separated > :nth-child(22),
  .separated > :nth-child(23),
  .separated > :nth-child(24),
  .separated > :nth-child(25) {
    justify-self: center;
    width: 100vw;
  }

  .separated > :nth-child(21) a,
  .separated > :nth-child(22) a,
  .separated > :nth-child(23) a,
  .separated > :nth-child(24) a,
  .separated > :nth-child(25) a {
    height: 1.75rem;
    width: 1.75rem;
  }
}
/* About Page */

/* This selector is extremely brittle. As long a no-one changes the order of the page header and the About menu, it
 will hopefully stand up, but no guarantees. */
#main-content
  > .layout-component:first-child
  > .layout-html-component:nth-child(2)
  .container {
  max-width: calc((1114 / 16) * 1rem);
}

ol.section-listing {
  display: flex;
  justify-content: center;
  column-gap: 36px;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-left: -25%;
  border-top: 1px #e0e0e0 solid;
  border-bottom: 1px #e0e0e0 solid;
  padding-top: calc((11 / 16) * 1rem);
  padding-bottom: calc((12 / 16) * 1rem);
  padding-left: calc((24 / 16) * 1rem);
  padding-right: calc((24 / 16) * 1rem);
}

ol.section-listing li {
  list-style-type: none;
  margin-left: calc((12 / 16) * 1rem);
  margin-right: calc((12 / 16) * 1rem);
}

.layout-component .layout-html-component ol.section-listing {
  margin-bottom: calc((48 / 16) * 1rem);
}

.layout-component .layout-html-component ol.section-listing li a {
  text-decoration: none;
  border-bottom-width: 0;
  padding-bottom: 0;
}

ol.section-listing li a:hover {
  color: #087acc;
}

ol.section-listing li.section-listing__list_item--current a {
  color: #087acc;
}

/* Paul experimenting */
.two-column-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 0px;
}

.two-column-parent div {
  width: 45%;
}

.two-column-first {
  grid-area: 1 / 1 / 2 / 3;
}
.two-column-second {
  grid-area: 1 / 2 / 2 / 3;
}
.two-column-third {
  grid-area: 1 / 1 / 2 / 2;
}

/* About page card styles - test */
.about-grid {
  margin: calc((48 / 16) * 1rem) auto calc((24 / 16) * 1rem);
}

@media only screen and (min-width: 480px) {
  .about-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }
}

.about-grid .card {
  grid-column: span 6;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 24px;
}

.about-grid .card.right .card_text {
  /*border: solid 1px red;*/
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.about-grid .card.right .img_placeholder {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.img_placeholder {
  display: none;
}

@media only screen and (min-width: 480px) {
  .img_placeholder {
    display: block;
    width: 150px;
    height: 150px;
    background: #e0e0e0;
    justify-self: end;
  }
}

@media only screen and (min-width: 730px) {
  .img_placeholder {
    width: 200px;
    height: 200px;
  }
}

.block-content .about-grid .card h3 {
  line-height: 2rem;
}

/* useful link grid */
.link-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 48px;
  padding: 0 calc((24 / 16) * 1rem);
  margin-top: calc((48 / 16) * 1rem);
  margin: calc((48 / 16) * 1rem) auto 0 auto;
}

.link-grid .card {
  padding: calc((12 / 16) * 1rem);
}

.link-grid .card ul {
  padding-left: 0;
}

.link-grid .card li {
  list-style: none;
  margin-bottom: calc((48 / 16) * 1rem);
}

.layout-component .layout-html-component .link-grid li a {
  border-bottom: none;
  color: #212121;
  padding-bottom: 0;
  text-decoration: none;
}

.layout-component .layout-html-component .link-grid li a:hover {
  border-bottom: 1px dotted #087acc;
  color: #087acc;
}

@media only screen and (max-width: 1200px) {
  .about-grid {
    grid-template-columns: 1fr;
    max-width: 800px;
  }
  /* Undo the flipped positioning for "right" classes below 1200px */
  .about-grid .card.right .card_text {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .about-grid .card.right .img_placeholder {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
  .nav-bar-component ul.nav-list > :nth-child(7) a .title,
  .nav-bar-component ul.nav-list > :nth-child(8) a .title {
    display: none;
  }
}

.elife-nav-menu {
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 40;
  left: -3000px;
  transform: translate3d(3000px, 0, 0);
  top: 0;
  overflow: auto;
  width: 20rem;
  max-width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #fff;
  padding-top: calc((54 / 16) * 1rem);
  margin-top: 0;
}

.elife-nav-logo a {
  height: auto;
  margin-bottom: 1.5rem;
}

.elife-nav-menu li {
  display: list-item;
  list-style-type: none;
  padding-bottom: 1.5rem;
}

.elife-nav-menu li a {
  margin-left: 0;
  font-size: 0.875rem;
  line-height: 1.71429;
  font-weight: bold;
}

.elife-nav-menu ul.elife-nav-items > :nth-child(2) {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1.5rem;
}

.elife-nav-overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.8);
}

.elife-nav-close-button {
  border: 0;
  width: 4.25rem;
  font-family: "Noto Sans", Arial, sans-serif;
  float: right;
  background: url("https://ui-patterns.elifesciences.org/assets/img/icons/close.svg")
    no-repeat 49px 3px;
  background-size: 14px;
  background-position: right;
}

.elife-nav-close-button:hover {
  cursor: pointer;
}

.built-on {
  display: none;
}
